In [1]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
labelencoder = LabelEncoder()
data['Gender'] = labelencoder.fit_transform(data['Gender'])

In [5]:
onehotencoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehotencoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehotencoder_geo.get_feature_names_out(['Geography']))

In [6]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [7]:
data = pd.concat([data.drop('Geography', axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
x = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [9]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
scalar = StandardScaler()
xtrain = scalar.fit_transform(xtrain)
xtest = scalar.transform(xtest)

In [13]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(labelencoder,file)

with open('onehor_encoded_geo.pkl','wb') as file:
    pickle.dump(onehotencoder_geo, file)

with open('scalar.pkl','wb') as file:
    pickle.dump(scalar,file)

In [14]:
## train with regression problem stmt

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(xtrain.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)  ## default activation fuction is linear activation fn
])

d:\projects\P_1\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [16]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regression/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboardcallback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
earlystopping = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [24]:
history = model.fit(
    xtrain,ytrain,
    validation_data=(xtest,ytest),
    epochs = 100,
    callbacks = [earlystopping, tensorboardcallback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - loss: 99866.3828 - mae: 99866.3828 - val_loss: 98581.1016 - val_mae: 98581.1016
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99032.4375 - mae: 99032.4375 - val_loss: 97407.5078 - val_mae: 97407.5078
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97621.3906 - mae: 97621.3906 - val_loss: 94296.0625 - val_mae: 94296.0625
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 95296.7109 - mae: 95296.7109 - val_loss: 88965.3125 - val_mae: 88965.3125
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 89243.1328 - mae: 89243.1328 - val_loss: 81817.2734 - val_mae: 81817.2734
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 80808.1641 - mae: 80808.1641 - val_loss: 73739.6406 - val_mae: 73739.6406
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 74455.7344 - mae: 74455.7344 - val_loss: 66059.2578 - val_mae: 66059.2578
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 65813.9453 - mae: 65813.9453 - val_loss: 59691.7930 - val_mae: 59691.7930
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59085.5000 - mae: 59085.5000 - val_loss: 55244.9648 - val_mae: 55244.9648
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 54553.7227 - mae: 54553.7227 - val_loss: 52671.5312 - val_mae: 52671.5312
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52153.3047 - mae: 52153.3047 - val_loss: 51435.5664 - val_mae: 51435.5664
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51444.7383 - mae: 51444.7383 - val_loss: 50976.5625 - val_mae: 50976.5625
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50729.9648 - mae: 50729.9648 - val_loss: 50810.3359 - val_mae: 50810.3359
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50832.8398 - mae: 50832.8398 - val_loss: 50729.6992 - val_mae: 50729.6992
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50990.8320 - mae: 50990.8320 - val_loss: 50682.2969 - val_mae: 50682.2969
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50254.6719 - mae: 50254.6719 - val_loss: 50641.0117 - val_mae: 50641.0117
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50193.9531 - mae: 50193.9531 - val_loss: 50602.3281 - val_mae: 50602.3281
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50089.1406 - mae: 50089.1406 - val_loss: 50572.5547 - val_mae: 50572.5547
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50011.0156 - mae: 50011.0156 - val_loss: 50530.8906 - val_mae: 50530.8906
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50408.6523 - mae: 50408.6523 - val_loss: 50499.7344 - val_mae: 50499.7344
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50475.4414 - mae: 50475.4414 - val_loss: 50480.3828 - val_mae: 50480.3828
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49881.9570 - mae: 49881.9570 - val_loss: 50451.5664 - val_mae: 50451.5664
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49630.1289 - mae: 49630.1289 - val_loss: 50442.9219 - val_mae: 50442.9219
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50171.6641 - mae: 50171.6641 - val_loss: 50427.6484 - val_mae: 50427.6484
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49369.0508 - mae: 49369.0508 - val_loss: 50401.9453 - val_mae: 50401.9453
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50046.0000 - mae: 50046.0000 - val_loss: 50379.4531 - val_mae: 50379.4531
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49875.8672 - mae: 49875.8672 - val_loss: 50370.3398 - val_mae: 50370.3398
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50165.8984 - mae: 50165.8984 - val_loss: 50358.8281 - val_mae: 50358.8281
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50206.5273 - mae: 50206.5273 - val_loss: 50341.7617 - val_mae: 50341.7617
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49897.1367 - mae: 49897.1367 - val_loss: 50333.7227 - val_mae: 50333.7227
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49490.5977 - mae: 49490.5977 - val_loss: 50328.6016 - val_mae: 50328.6016
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49731.9883 - mae: 49731.9883 - val_loss: 50312.1562 - val_mae: 50312.1562
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49857.6250 - mae: 49857.6250 - val_loss: 50305.9961 - val_mae: 50305.9961
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49807.6719 - mae: 49807.6719 - val_loss: 50298.4375 - val_mae: 50298.4375
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50011.6172 - mae: 50011.6172 - val_loss: 50287.7578 - val_mae: 50287.7578
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49408.0781 - mae: 49408.0781 - val_loss: 50291.9453 - val_mae: 50291.9453
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49330.0664 - mae: 49330.0664 - val_loss: 50288.1641 - val_mae: 50288.1641
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50001.8633 - mae: 50001.8633 - val_loss: 50282.4258 - val_mae: 50282.4258
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49225.5078 - mae: 49225.5078 - val_loss: 50273.0977 - val_mae: 50273.0977
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49529.4922 - mae: 49529.4922 - val_loss: 50270.6562 - val_mae: 50270.6562
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49658.1445 - mae: 49658.1445 - val_loss: 50266.1133 - val_mae: 50266.1133
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49407.2852 - mae: 49407.2852 - val_loss: 50263.4688 - val_mae: 50263.4688
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49386.1953 - mae: 49386.1953 - val_loss: 50265.2344 - val_mae: 50265.2344
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48944.3555 - mae: 48944.3555 - val_loss: 50272.5234 - val_mae: 50272.5234
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49973.9922 - mae: 49973.9922 - val_loss: 50268.8516 - val_mae: 50268.8516
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49625.4375 - mae: 49625.4375 - val_loss: 50263.6445 - val_mae: 50263.6445
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49604.1484 - mae: 49604.1484 - val_loss: 50270.6367 - val_mae: 50270.6367
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49333.8477 - mae: 49333.8477 - val_loss: 50275.9062 - val_mae: 50275.9062
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49543.7656 - mae: 49543.7656 - val_loss: 50274.7070 - val_mae: 50274.7070
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49403.6406 - mae: 49403.6406 - val_loss: 50280.8672 - val_mae: 50280.8672
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49160.4961 - mae: 49160.4961 - val_loss: 50278.2773 - val_mae: 50278.2773
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49842.0938 - mae: 49842.0938 - val_loss: 50272.6172 - val_mae: 50272.6172

In [25]:
## evaluate the model
%load_ext tensorboard

In [27]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 39060), started 0:00:27 ago. (Use '!kill 39060' to kill it.)

In [28]:
test_loss,test_mae = model.evaluate(xtest,ytest)
print(test_loss,test_mae)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51161.8008 - mae: 51161.8008
50263.46875 50263.46875

In [29]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.